<form class="w-80 mt-10 py-3 px-4 rounded-md shadow-md bg-white">
  <div class="mx-3 text-3xl text-blue-600 font-poppins-500 font-semibold">
    Create a Task
  </div>
  <div class="mx-3 flex flex-col gap-3 mt-2">
    <label for="title" class="font-poppins-500 text-xl">Title</label>
    <input type="text" id="title" class="w-full bg-gray-200 rounded-md border
    focus:outline-none focus:ring-4 focus:ring-blue-300 py-2 px-3" [(ngModel)]="title" [ngModelOptions]="{standalone:true}">
  </div>
  <div class="mx-3 flex flex-col gap-3 mt-2">
    <label for="description" class="text-xl font-poppins-500">Description</label>
    <textarea id="description" class="w-full rounded-md border
    bg-gray-200 focus:outline-none focus:ring-4 focus:ring-blue-300 py-2 px-3" rows="4" cols="20" [(ngModel)]="description" [ngModelOptions]="{standalone:true}"></textarea>
  </div>
  <div class="mx-3 flex flex-col gap-3 mt-2">
    <select class="font-poppins-500 bg-gray-200 shadow-md rounded-md px-3 py-2
    focus:outline-none focus:ring-blue-300 focus:ring-1" [(ngModel)]="status" [ngModelOptions]="{standalone:true}">
      <option value="Pending" selected>Pending</option>
      <option value="Progress">Progress</option>
      <option value="Completed">Completed</option>
    </select>
  </div>
  <div class="mx-3 mt-2">
    <button class="w-full bg-green-400 rounded-md py-2 font-poppins-500 font-semibold text-white" (click)="$event.preventDefault(); createTask()">Create</button>
  </div>
</form>
