<div class="container mx-auto w-full flex justify-center gap-10 bg-orange-400 rounded-md shadow-md py-3">
  <div><a routerLink="/admin" class="block text-xl hover:bg-opacity-80 hover:bg-orange-200
  px-4 py-1 rounded-md text-white font-semibold hover:text-orange-800">Home</a></div>
  <div><a routerLink="accounts" class="block text-xl hover:bg-opacity-80 hover:bg-orange-200
  px-4 py-1 rounded-md text-white font-semibold hover:text-orange-800">Manage Accounts</a></div>
  <div><a routerLink="/profile" class="block text-xl hover:bg-opacity-80 hover:bg-orange-200
  px-4 py-1 rounded-md text-white font-semibold hover:text-orange-800">Profile</a></div>
  <div><a routerLink="" class="block text-xl hover:bg-opacity-80 hover:bg-orange-200
  px-4 py-1 rounded-md text-white font-semibold hover:text-orange-800">Logout</a></div>
</div>
<router-outlet></router-outlet>
